[submodule "contracts/lib/othentic-core-contracts"]
	path = contracts/lib/othentic-core-contracts
	url = https://github.com/Othentic-Labs/core-contracts.git
[submodule "contracts/lib/interop-lib"]
	path = contracts/lib/interop-lib
	url = https://github.com/ethereum-optimism/interop-lib.git
[submodule "contracts/lib/layerzero-v2"]
	path = contracts/lib/layerzero-v2
	url = https://github.com/layerzero-labs/layerzero-v2
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/safe-contracts"]
	path = contracts/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
