[submodule "contracts/lib/othentic-core-contracts"]
	path = contracts/lib/othentic-core-contracts
	url = https://github.com/Othentic-Labs/core-contracts.git
[submodule "contracts/lib/createx"]
	path = contracts/lib/createx
	url = https://github.com/pcaversaccio/createx.git
[submodule "contracts/lib/interop-lib"]
	path = contracts/lib/interop-lib
	url = https://github.com/ethereum-optimism/interop-lib.git
[submodule "contracts/lib/layerzero-v2"]
	path = contracts/lib/layerzero-v2
	url = https://github.com/layerzero-labs/layerzero-v2
