# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/

# Dotenv file
.env
watchdog/

.cursor/

corpus/
crytic-export/
docs/
script/security/
security/
slither.config.json
test/echidna/
test/formal/
test/invariants/

